[paths]
source =
   src/check_pypi_name_cli
   */site-packages/check_pypi_name_cli

[run]
branch = true
source =
    check_pypi_name_cli
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
